<h1>Welcome to Nina and Sassa's Marvelous Markets</h1>
<p>Are you a Vendor or a Market?</p>

<p><%= button_to( "I'm a Vendor!",vendor_index_path, method: :get) %></p>

<p><%= button_to( "I'm a Market!",market_index_path, method: :get) %></p>
