<h1>Welcome to Nina and Sassa's Marvelous Markets!</h1>

<div class='path_body'>
  <p class="question">Are you a Vendor or a Market?</p>

  <div class="market_path_styling">
    <%= image_tag("fall_veggies.jpg", alt: "photo of farmers market vendor") %>
    <article class="overlay_market">
    <p class="bluberries"><%= link_to( "I'm a Market!", market_index_path, method: :get) %></p>
    </article>
  </div>



  <div class="vendor_path_styling">
    <%= image_tag("blueberries.jpg", alt: "photo of farmers market vendor") %>
    <article class="overlay_vendor">
    <p><%= link_to( "I'm a Vendor!", vendor_index_path, method: :get) %></p>
    </article>
  </div>

    <%# link_to("Looking For A Product?", product_search_path, method: :get) %>
</div>
