<div class = "random">
	<h3>Recently Seen at <%= @myvendor.name %> </h3>
	<p><%= image_tag(@celebrity_image, class: 'celebrity_image') %></p>
	<p class='celebrity_name'><%= @celebrity_name %></p>
</div>
