<h1><%= @myvendor.name %></h1>

<% @products.each do |product| %>
	<article>
	<h3><%= link_to( product.name, show_product_path(@myvendor.id, product.id)) %></h3>
	</article>
<% end %>

<p><%= button_to( "Add New Product", new_product_path(@myvendor.id), method: :get) %></p>

