<h1>Choose Your Market</h1>

<p>  <%= button_to "Add Market", {controller: 'markets', action: 'new'}, {path: 'market_new', method: :get} %></p>
<% @markets.each do |market| %>
  <article>
    <h2> <%= link_to( market.name, market_show_path(market.id) ) %>  </h2>
    <p> <%= button_to "Edit", {action: "edit", id: market.id}, method: :get %></p>
  </article>
<% end %>
