// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body {
  width: 60%;
  margin: auto;
  border: 1px solid black;
}

a img {
  display: inline-block;
  margin: auto;
  height: 400px;
  width: auto;
}
